<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SD Interview</title>
</head>
<br>
    <h1 style="text-align:center"> Request Example </h1>
    <div style="text-align:center">
        <ul style="list-style: none">
            <li>
                <p>get all data: <a href="https://temporary-swift-api.introbond.repl.co/api/v1/getAllData" target="_blank" rel="noopener noreferrer">url/api/v1/getAllData</a>.</p>
            <li>
            <li>
                <p>get min, max & average data: <a href="https://temporary-swift-api.introbond.repl.co/api/v1/getMinMaxAverage" target="_blank" rel="noopener noreferrer">url/api/v1/getMinMaxAverage</a>.</p>
            <li> 
            <li>
                <p>get data by range: <a href="https://temporary-swift-api.introbond.repl.co/api/v1/getDataByRange?rangeIndex=16" target="_blank" rel="noopener noreferrer">url/api/v1/getDataByRange?rangeIndex=16</a> Query Parameter: rangeIndex </p>
            <li>                 
        <ul>
    </div>
</body>
</html>